# macOS
.DS_Store

# Environment
.env
.env.*
!.env.example

# Frontend
apps/frontend/.next/
apps/frontend/node_modules/
apps/frontend/out/
apps/frontend/.turbo/
apps/frontend/*.tsbuildinfo

# Backend
apps/backend/target/
apps/backend/.mvn/wrapper/maven-wrapper.jar

# IDEs
.idea/
.vscode/

# Logs
*.log
